<p>reservation works!</p>
<div class = 'text-center'>
  <button class='btn btn-primary btnTop' (click)='toggleRes()' >See All Reservations</button>
  <button class='btn btn-primary btnTop' (click)='toggleCreate()' >Make A New Reservation</button>
  <button class='btn btn-primary btnTop' (click)='toggleRes()' >See All Reservations</button>

</div>


<div *ngIf='showRes' class='text-center'>
<h4 class='mb-5'><span class='left' >Total Reservations:  <span class='badge badge-primary elb'>{{getReservationCount()}}</span></span><span class='right'>Total People Count: <span class='badge badge-danger elb' >{{getTotalPeople()}}</span></span></h4>
<table *ngIf = "!selected" class = 'table table-striped resTable'>

  <thead class = 'thead-dark'>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Reservation Date/Time</th>
      <th scope="col">Phone Number</th>
      <th scope="col">How Many</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor = 'let reserve of reservation'  (click)= 'onSubmit(reserve)'>
      <!-- <th scope="row"></th> -->
      <td>{{reserve.id}}</td>
      <td>{{reserve.name}}</td>
      <td>{{reserve.email}}</td>
      <td>{{reserve.reservationTime}}</td>
      <td>{{reserve.phone}}</td>
      <td>{{reserve.howMany}}</td>
    </tr>
  </tbody>
  <button class='btn btn-primary' (click)='toggleRes()' >BACK</button>
</table>

<div *ngIf ="selected">
  <table  class = 'table resTable'>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Reservation Date/Time</th>
      <th scope="col">Phone Number</th>
      <th scope="col">How Many</th>
    </tr>
    <tr>
      <td>{{selected.id}}</td>
      <td>{{selected.name}}</td>
      <td>{{selected.email}}</td>
      <td>{{selected.reservationTime}}</td>
      <td>{{selected.phone}}</td>
      <td>{{selected.howMany}}</td>
  </tr>
  </table>


    <button class='btn btn-secondary btnTop' (click)='showTable()'>Back</button>
    <button class='btn btn-danger btnTop' (click)='deleteReservation(selected.id)'>Delete</button>
    <button class='btn btn-warning btnTop' (click)='updatePassRes(selected)'>Edit</button>

</div>

</div>

<!-- <h1>Email list:  <span >{{getEmailList()}}</span></h1> -->


<!-- edit resrvation -->
<div *ngIf='selected && editReservation'>
  <h1>Edit Reservation </h1>
  <form>
    <input type="text" name="name" placeholder="Name" [(ngModel)]="editReservation.name"><br>
    <input type="text" name="email" placeholder="email" [(ngModel)]="editReservation.email"><br>
    <input type="text" name="reservationTime" placeholder="reservation Time" [(ngModel)]="editReservation.reservationTime"><br>
    <input type="number" name="phone" placeholder="phone" [(ngModel)]="editReservation.phone"><br>
    <input type="number" name="howMany" placeholder="how many" [(ngModel)]="editReservation.howMany"><br>
    <button class = 'btn btn-warning' type ='submit' name= 'edit' (click)="updateReservation(this.editReservation)">Edit</button>
  </form>

</div>


<!-- create new reservation -->
<div class='container-fluid'>
  <div *ngIf="showCreate" class='text-center'>
    <h1 class='createHl'>New Reservation</h1>
    <form >

      <div class="form-group mb-3">
        <label for="Reservation Name">Reservation Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="newReservation.name">
      </div>
      <div class="form-group mb-3">
        <label for="Reservation Email">Reservation Email</label>
        <input  class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="newReservation.email">
      </div>
      <div  class="form-group mb-3">
        <label for="Reservation Time">Reservation Time</label>
        <input class="form-control" type="text" name="reservationTime" placeholder="yyyy:mm:ddThh:" [(ngModel)]="newReservation.reservationTime">
      </div>
      <div  class="form-group mb-3">
        <label for="Phone Number">Phone Number</label>
        <input class="form-control" type="number" name="phone" placeholder="phone" [(ngModel)]="newReservation.phone">
      </div>
      <div  class="form-group mb-3">
        <label for="How Many ">How Many In Party</label>
        <input class="form-control" type="number" name="howMany" placeholder="how many" [(ngModel)]="newReservation.howMany">
      </div>



      <button class='btn btn-success btnTop' (click)="create()">Create Reservation</button>

    </form>

</div>
</div>


<!-- <div  class="form-group mb-3">
  <label for="Reservation Time">Reservation Date</label>
  <input class="form-control" type="date" name="reservationTime" placeholder="Reservation Date" [(ngModel)]="newReservation.reservationTime">
</div>
<div  class="form-group mb-3">
  <label for="Reservation Time">Reservation Time</label>
  <input class="form-control" type="time" name="reservationTime" placeholder="Reservation Time" [(ngModel)]="newReservation.reservationTime">
</div> -->

