<p>reservation works!</p>



<table *ngIf = "!selected">
  <thead>
    <tr>
      <td>id</td>
      <td>Name</td>
      <td>Reservation Date/Time</td>
      <td>Phone Number</td>
      <td>How Many</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let reserve of reservation'  (click)= 'onSubmit(reserve)'>
    <!-- | email: selectedType'  -->
      <td>{{reserve.name}}</td>
      <td>{{reserve.email}}</td>
      <td>{{reserve.reservationTime}}</td>
      <td>{{reserve.phone}}</td>
      <td>{{reserve.howMany}}</td>
    </tr>

  </tbody>
</table>

<div *ngIf ="selected">
    <p>{{selected.name}}</p><br>
    <p>{{selected.email}}</p><br>
    <p>{{selected.reservationTime}}</p><br>
    <p>{{selected.phone}}</p><br>
    <p>{{selected.howMany}}</p><br>

    <button (click)='showTable()'>Back</button>
    <button (click)='deleteReservation(selected.id)'>Delete</button>
    <button (click)='updatePassRes(selected)'>Edit</button>

</div>
<h1>Total Reservations:  <span >{{getReservationCount()}}</span></h1>
<h1>Email list:  <span >{{getEmailList()}}</span></h1>

<div *ngIf='selected && editReservation'>
  <h1>Edit Reservation </h1>
  <form>
    <input type="text" name="name" placeholder="Name" [(ngModel)]="editReservation.name"><br>
    <input type="text" name="email" placeholder="email" [(ngModel)]="editReservation.email"><br>
    <input type="text" name="reservationTime" placeholder="reservation Time" [(ngModel)]="editReservation.reservationTime"><br>
    <input type="number" name="phone" placeholder="phone" [(ngModel)]="editReservation.phone"><br>
    <input type="number" name="howMany" placeholder="how many" [(ngModel)]="editReservation.howMany"><br>
    <button class = 'btn btn-warning' type ='submit' name= 'edit' (click)="updateReservation(this.editReservation)">Edit</button>
  </form>

</div>

<div *ngIf="!selected">
  <form >
    New Reservation<br>
    <!-- <input type="hidden" name="id"  [(ngModel)]="newReservation.id"><br> -->
    <input type="text" name="name" placeholder="Name" [(ngModel)]="newReservation.name"><br>
    <input type="text" name="email" placeholder="email" [(ngModel)]="newReservation.email"><br>
    <input type="text" name="reservationTime" placeholder="reservationTime" [(ngModel)]="newReservation.reservationTime"><br>
    <input type="number" name="phone" placeholder="phone" [(ngModel)]="newReservation.phone"><br>
    <input type="number" name="howMany" placeholder="how many" [(ngModel)]="newReservation.howMany"><br>


    <button (click)="create()">Create Reservation</button>

  </form>

</div>

