@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monda', sans-serif;
  font-size: .8 em;
  }

.btnPos
{
margin-top: 30px;
}

.elb
{
font-size: 1.4em!important;
}

.btnTop
{
margin: 30px 15px 30px 15px;
padding: 4px;

}

.resTable
{
  margin-top:50px;
  padding: 50px;
}

.left
{
float: left;
}

.right
{
float: right;
}

.createHl
{
font-size: 1.99em !important;
color: green;
font-weight: bolder;
}
