<h1 class= 'mt-5 text-center createHl'>Restaurant Reservations</h1>
<div class = 'text-center btnPos'>
  <button class='btn btn-primary btnTop' (click)='toggleRes()' >See All Reservations</button>
  <button class='btn btn-primary btnTop' (click)='toggleCreate()' >Make A New Reservation</button>
  <button class='btn btn-primary btnTop' (click)='toggleEmail()' >See Email List</button>

</div>


<div *ngIf='showRes' class='text-center'>
<h4 class='ml-5 mb-5'><span class='left' >Total Reservations:  <span class='p-2 mb-3 badge badge-primary elb'>{{getReservationCount()}}</span></span><span class='right'>Total People Count: <span class='p-2 mb-3 mr-5 badge badge-danger elb' >{{getTotalPeople()}}</span></span></h4>
<table *ngIf = "!selected" class = 'table table-striped resTable'>

  <thead class = 'thead-dark'>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Reservation Date/Time</th>
      <th scope="col">Phone Number</th>
      <th scope="col">How Many</th>
      <th scope="col">Special Requests</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor = 'let reserve of reservation'  (click)= 'onSubmit(reserve)'>
      <!-- <th scope="row"></th> -->
      <td>{{reserve.id}}</td>
      <td>{{reserve.name}}</td>
      <td>{{reserve.email}}</td>
      <td>{{reserve.reservationTime}}</td>
      <td>{{reserve.phone}}</td>
      <td>{{reserve.howMany}}</td>
      <td>{{reserve.requests}}</td>
    </tr>
  </tbody>

</table>

<div *ngIf ="selected">
  <table  class = 'table resTable'>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Reservation Date/Time</th>
      <th scope="col">Phone Number</th>
      <th scope="col">How Many</th>
      <th scope="col">Special Requests</th>
    </tr>
    <tr>
      <td>{{selected.id}}</td>
      <td>{{selected.name}}</td>
      <td>{{selected.email}}</td>
      <td>{{selected.reservationTime}}</td>
      <td>{{selected.phone}}</td>
      <td>{{selected.howMany}}</td>
      <td>{{selected.requests}}</td>
  </tr>
  </table>


    <button class='btn btn-secondary btnTop' (click)='showTable()'>Back</button>
    <button class='btn btn-danger btnTop' (click)='deleteReservation(selected.id)'>Delete</button>
    <button class='btn btn-warning btnTop' (click)='updatePassRes(selected)'>Edit</button>

</div>

</div>




<!-- edit reservation -->
<div class='container-fluid'>
  <div *ngIf='selected && editReservation' class='text-center'>
  <h1 class='createHl mb-5'>Edit Reservation </h1>
  <form  class='form-group'>
    <div class="form-group mt-5 mb-3">
      <label for="Reservation Name">Reservation Name</label>
      <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="editReservation.name">
    </div>
    <div class="form-group mb-3">
      <label for="Reservation Email">Reservation Email</label>
      <input class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="editReservation.email">
    </div>
    <div class="form-group mb-3">
      <label for="Reservation Time">Reservation Date</label>
      <input class="form-control" type="date" name="reservationTime" placeholder="reservation Time" [(ngModel)]="editReservation.date">
    </div>
    <div class="form-group mb-3">
      <label for="Reservation Time">Reservation Time</label>
      <input class="form-control" type="time" name="reservationTime" placeholder="reservation Time" [(ngModel)]="editReservation.time">
    </div>
    <div class="form-group mb-3">
      <label for="Phone Number">Phone Number</label>
      <input class="form-control"  type="number" name="phone" placeholder="phone" [(ngModel)]="editReservation.phone">
    </div>
    <div class="form-group mb-3">
      <label for="How Many ">How Many In Party</label>
      <input class="form-control"  type="number" name="howMany" placeholder="how many" [(ngModel)]="editReservation.howMany">
    </div>
    <div class="form-group mb-3">
      <label for="How Many ">Special Requests</label>
      <input class="form-control"  type="text" name="requests" placeholder="Special Requests" [(ngModel)]="editReservation.requests">
    </div>

    <button class = 'p-2 mt-3 btn btn-warning' type ='submit' name= 'edit' (click)="updateReservation(this.editReservation)">Edit</button>
  </form>

</div>
</div>


<!-- create new reservation -->
<div class='container-fluid'>
  <div *ngIf="showCreate" class='text-center'>
    <h1 class='createHl'>New Reservation</h1>
    <form class='form-group' >

      <div class="form-group mb-3">
        <label for="Reservation Name">Reservation Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="newReservation.name">
      </div>
      <div class="form-group mb-3">
        <label for="Reservation Email">Reservation Email</label>
        <input  class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="newReservation.email">
      </div>
      <div  class="form-group mb-3">
        <label for="Reservation Time">Reservation Date</label>
        <input class="form-control" type="date" name="date" placeholder="Reservation Date" [(ngModel)]="newReservation.date">
      </div>
      <div  class="form-group mb-3">
        <label for="Reservation Time">Reservation Time</label>
        <input class="form-control" type="time" name="time" placeholder="Reservation Time" [(ngModel)]="newReservation.time">
      </div>
      <div  class="form-group mb-3">
        <label for="Phone Number">Phone Number</label>
        <input class="form-control" type="number" name="phone" placeholder="phone" [(ngModel)]="newReservation.phone">
      </div>
      <div  class="form-group mb-3">
        <label for="How Many ">How Many In Party</label>
        <input class="form-control" type="number" name="howMany" placeholder="how many" [(ngModel)]="newReservation.howMany">
      </div>
      <div class="form-group mb-3">
        <label for="How Many ">Special Requests</label>
        <input class="form-control"  type="text" name="requests" placeholder="Special Requests" [(ngModel)]="newReservation.requests">
      </div>


      <button class='btn btn-success btnTop' (click)="subCreate()">Create Reservation</button>

    </form>

</div>
</div>



<!-- Show email list -->
<div class='container-fluid'>
  <div *ngIf = 'showEmail' class='text-center table resTable'>
    <h1 class='createHl'>Email List</h1>

    <table class= ' table table-striped'>
      <thead class = 'thead-dark'>
      <th>Name</th><th>Email</th>
      </thead>
      <tr class='text-center' *ngFor = 'let reserve of reservation'  (click)= 'onSubmit(reserve)'>

        <td>{{reserve.name}}</td>
        <td>{{reserve.email}}</td>

      </tr>
    </table>


  </div>
</div>

