@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Bree Serif', serif;
/* text-align: center; */
background:#f8f8ff;
}

h1
{
text-align: center;
}

#resData, 
{
margin-left: 30px;
text-align: center;
font-size: 8px;
}

#resDataId
{
	margin-left: 30px;
	text-align: center;
	font-size: 8px;
}

#form1 
{
margin-top: 50px;
margin-left: 30px;
margin-bottom: 25px;
text-align: center;
}
input:hover{
	background-color: #d3d3d3;
}

.btn
{
	height: 30px;
	width: 90px;
	background-color: goldenrod;
}

#formbtn
{
margin-top: 50px;
margin-left: 30px;
margin-bottom: 25px;
text-align: center;	
}

#form2
{
margin-top: 50px;
margin-left: 50px;
margin-right: 80px;
font-size: 24px;
float: left !important;
}

#form3
{
margin-top: 50px;
font-size: 24px;
float: right !important;
}

#formatDiv
{
	display: flex;
}